{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>GeoSuggest</h1>
        <p>A RESTful API that provides suggestions for cities</p>
        <h2>Visualization</h2>
        <p>Your query was:<br>
        q: <b>{{ search_term }}</b>
        {% if latitude %}
        <br>
        latitude: <b>{{ latitude }}</b>
        <br>
        longitude: <b>{{ longitude }}</b>
        {% endif %}
    </div>
    <div id="map" style="width: 900px; height: 700px;"></div>
    <script>
        {% if latitude %}
        let map = L.map('map').setView([{{ latitude }}, {{ longitude }}], 7);
        {% else %}
        let map = L.map('map').setView([45.40008, -71.89908], 7);
        {% endif %}
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',
            {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoibWF4aW1lYmxhaXMiLCJhIjoiY2p6YjV4YjI5MDdyZzNoazk1enZ0d3B4dSJ9.0Ve319zqy07Vjdlsz-Qbhg'
            }).addTo(map);
        let marker = null
        {% for marker in markers %}
        marker = L.marker([{{ marker.latitude }}, {{ marker.longitude }}]).addTo(map);
        marker.bindPopup("<b>{{ marker.name }}</b><br>{{ marker.latitude }}, {{ marker.longitude }}<br>Score: {{ marker.score }}")
        {% endfor %}
    </script>
</div>

{% endblock %}